@using prjHosNav.Models;
@model List<prjHosNav.Models.CMyMedicineBoxDetail>

@{
    ViewBag.Title = "我的藥盒";

}

<script type="text/javascript">
    function printScreen(printlist) {
        var value = printlist.innerHTML;
        var printPage = window.open("", "Printing...", "");
        printPage.document.open();
        printPage.document.write("<HTML><head>");
        printPage.document.write("<style media=print type='text/css'> .noprint {display:none} </style>");
        printPage.document.write("<link href='../Content/bootstrap.min.css' rel='stylesheet' type='text/css' />");
        printPage.document.write("</head><BODY onload='window.print()'>");
        printPage.document.write(value);
        printPage.document.close("</BODY></HTML>");
    }
</script>




<div style="background-color:#E8FBFF;" class="vh-100 pt-5">
    <div class="container shadow p-3 bg-body rounded">
        <div class="d-flex align-items-center px-3 pt-4 pb-3 pm-3">
            <h4 class="me-auto">我的小藥盒</h4>
            <button class="btn btn-primary mx-3" onclick="printScreen(print_parts)">列印本頁 </button>
        </div>        
        <div class="table-responsive" id="print_parts">
            <table class="table table-striped table-hover">
                <tr>
                    <td>序號</td>
                    <td>中文名稱</td>
                    <td>圖片</td>
                    <td>一日幾次</td>
                    <td>一次多少用量</td>
                    <td class="noprint">修改</td>
                    <td class="noprint">刪除</td>
                </tr>
                @{
                    int count = 0;

                    if (Model != null)
                    {
                        foreach (CMyMedicineBoxDetail c in Model)
                        {
                            count++;

                            <tr>
                                <td>@count</td>
                                <td><b style="font-size: 1.2em">@c.fChName</b></td>
                                <td>
                                    <img src="~/img/MImg/@c.fImagePath" width="100" height="80" onerror="this.src = '/img/MImg/default.jpg'" />
                                    <!--   也可用onerror="this.src='/default_avatars.jpg';this.onerror=null"   -->
                                </td>
                                <td>@c.fDayOfUse</td>
                                <td>@c.fQuantityUse</td>
                                <td class="noprint">
                                    @Html.ActionLink("編輯", "myBoxEdit", "Medicine", new { id = c.fId },
                                   new { @class = "btn btn-success" })
                                </td>
                                <td class="noprint">
                                    @Html.ActionLink("刪除", "myBoxDelete", "Medicine", new { id = c.fId },
                                   new { onclick = "return confirm('確定要刪除嗎?')", @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td><b style="font-size: 1.2em"></b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="noprint"></td>
                            <td class="noprint"></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
